@charset "utf-8";
@import url(reset.css);
/********slides轮播插件样式——start************/
.ss-slide{position:relative;display:block;overflow:hidden;margin:0 auto;}
.ss-slide>ul,.ss-slide>ul>li{position:absolute;top:0;left:0;display:block;margin:0;padding:0;width:100%;list-style:none;}
.ss-slide>.bidBox{position:absolute;bottom:0;z-index:3;display:block;padding:10px 0;width:100%;text-align:center;}
.ss-slide>.bidBox>.bidItem{display:inline-block;margin-left:10px;width:9px;height:9px;border:2px solid #464646;border-radius:100%;background-color:#afafaf;cursor:pointer;}
.ss-slide>.bidBox>.bidItem.active{border:2px solid #9b9b9b;background-color:#f1f1f1;}
.ss-slide>.bidBox>.bidItem:hover{border:2px solid #9b9b9b;background-color:#f1f1f1;}
.ss-slide .ui-next,.ss-slide .ui-prev{position:absolute;top:50%;z-index:3;margin-top:-35px;width:41px;height:69px;background:url(../resources/img/icon-slides.png) no-repeat;cursor:pointer}
.ss-slide .ui-prev{left:0;background-position:-84px 0}
.ss-slide .ui-next{right:0;background-position:-93pt 0}
.ss-slide .ui-prev:hover{background-position:0 0}
.ss-slide .ui-next:hover{right:0;background-position:-42px 0}
/***********************************************/
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper .swiper-slide img{
    width: 100%;
}
.swiper-button-next,.swiper-button-prev{
    display: none;
}
.swiper-container:hover .swiper-button-next,.swiper-container:hover .swiper-button-prev{
    display: block;
}
/********slides轮播插件样式——end************/
body{
    background-color: #eee;
}
.content{
    max-width: 1000px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
}
section{
    padding-bottom: 20px;
}
/*************************header头部样式*************************************/
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    background:#E9E6BD url("../resources/img/p3.jpg") no-repeat center 78%;
    width:100%;
}
.header .headerImg{
    margin: 0 auto;
    width: 139px;
    height: 139px;
    border-radius: 50%;
    overflow: hidden;
}
.header .headerImg img{
    width: 100%;
}
.header .headerTitle{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #0a0f14;
    text-shadow: 2px 0 3px #cdcdcd;
}
/**********************navBox导航样式**********************/
.navBox{
    background: #6f6f6f;
}
.navList{
    list-style: none;
    text-align: left;
    line-height: 3em;
}
.navList>li{
    list-style: none;
    display: inline-block;
    margin-left: 1px;
    height: 3em;
}
.navList>li>a{
    padding: 0 0.5em;
    color: #ffffff;
    display: block;
    cursor:pointer;
    text-decoration:none;
}
.navList>li>a:hover{
    background: #666666;
}
/***************footer底部样式*****************/
.footer{
    background-color: #E2E2E2;
    padding: 20px 0;
}
.coBox:after{
    display: table;
    content: "";
    clear: both;
}
.coBox>li{
    float: left;
    width: 100%;
}
.coBox>li:first-child{
    height: 85px;
}
.myWeChatBox{
    text-align: center;
}
.myWeChatBox img{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.myWeChatBox img:first-child{
    margin-right: 30px;
}
.contactMeBox{
    width: 180px;
    margin: 0 auto;
}
.contactMeBox p{
    font-size: 14px;
    color: #474747;
    line-height: 24px;
}
.contactMeBox p.title{
    font-weight: bold;
    color: #646464;
    font-size: 16px;
}
.contactMeBox p.tag{
    font-weight: bold;
}
.contactMeBox p.tag a{
    color: #666666;
    font-size: 14px;
    font-weight: normal;
}
.bottomBox{
    font-size: 12px;
    color: #666666;
    line-height: 28px;
    text-align: center;
    margin-top: 10px;
}
/***************************************/
.articleBox{
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e3e3e3;
}
.articleBox .articleTitle{
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5em;
    text-align: center;
}
.articleBox p{
    text-indent: 2em;
    font-size: 14px;
    color: #333;
    line-height: 24px;
}
.sectionTitle{
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin: 10px 0px;
    background-color: #c9dab0;
    padding-left: 15px;
    color: #333;
}
#slidesBox{
    height: 400px;
}
.slideBox{
    padding-top: 10px;
}
/*****************************************/
.navItem{
    width: 120px;
    height: 60px;
    background-color: #eee;
    margin-left:10px;
    margin-bottom:10px;
}
.navItem a{
    display:block;

    padding:10px;
}
.navItem a .main-title{
    font-size:16px;
    line-height:20px;
    color: #45B6F7;
    font-weight: bold;
    overflow: hidden;
    height:20px;
}
.navItem a .fit-title{
    height:20px;
    line-height:20px;
    font-size:14px;
    color: #908e8e;
    overflow: hidden;
}
.navItem:hover{
    background-color: #dddddd;
}