@charset "utf-8";
/********slides轮播插件样式——start************/
.ss-slide{position:relative;display:block;overflow:hidden;margin:0 auto;}
.ss-slide>ul,.ss-slide>ul>li{position:absolute;top:0;left:0;display:block;margin:0;padding:0;width:100%;list-style:none;}
.ss-slide>.bidBox{position:absolute;bottom:0;z-index:3;display:block;padding:10px 0;width:100%;text-align:center;}
.ss-slide>.bidBox>.bidItem{display:inline-block;margin-left:10px;width:9px;height:9px;border:2px solid #464646;border-radius:100%;background-color:#afafaf;cursor:pointer;}
.ss-slide>.bidBox>.bidItem.active{border:2px solid #9b9b9b;background-color:#f1f1f1;}
.ss-slide>.bidBox>.bidItem:hover{border:2px solid #9b9b9b;background-color:#f1f1f1;}
.ss-slide .ui-next,.ss-slide .ui-prev{position:absolute;top:50%;z-index:3;margin-top:-35px;width:41px;height:69px;background:url(../images/icon-slides.png) no-repeat;cursor:pointer}
.ss-slide .ui-prev{left:0;background-position:-84px 0}
.ss-slide .ui-next{right:0;background-position:-93pt 0}
.ss-slide .ui-prev:hover{background-position:0 0}
.ss-slide .ui-next:hover{right:0;background-position:-42px 0}
/********slides轮播插件样式——end************/
/*************选项卡样式——start************/
.tapHeader{height:41px;border-bottom:1px solid #e6e6e6}
.tapHeader .tapNav{float:left;display:block;width:75pt;color:#000;text-align:center;font-weight:700;font-size:14px;line-height:40px}
.tapHeader .tapNav.active{margin-bottom:-2px;border-bottom:2px solid #046ad2;}
/*************选项卡样式——end************/
/*******alterMsg信息弹出窗样式——start*************/
.Alter-box{display: block; position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 10000; background-color: rgba(0, 0, 0, 0.52);}
.Alter-box>.boxBody{display: block; position: absolute; width: 254px; height: 138px; padding: 18px; background-color: #ffffff; left: 50%; top: 50%; margin-left: -145px; margin-top: -87px; border-radius: 7px; overflow: hidden;}
.Alter-box>.boxBody>p{padding: 0; margin: 15px 0; font-size: 24px; height: 60px; width: 100%; font-weight: bold; color: #666666; text-indent: 0px; text-align: center; line-height: 30px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.Alter-box>.boxBody>.buttonBox{text-align: center;}
.Alter-box>.boxBody input[type='button']{border-radius: 4px; border: none; outline: none; padding: 10px 32px; font-size: 17px; color: #ffffff; font-weight: bold; background-color: #0072ff; cursor: pointer;}
.Alter-box>.boxBody input[type='button'].cancelButton{background-color: #bbbbbb; margin-right: 10px;}
.Alter-box>.boxBody input[type='button'].cancelButton:hover{background-color: #a7a7a7;}
.Alter-box>.boxBody input[type='button'].sureButton{background-color: #ec6b55; margin-right: 10px;}
.Alter-box>.boxBody input[type='button'].sureButton:hover{background-color: #DD6B55;}
.Alter-box>.boxBody input[type='button']:hover{background-color: #0065c7;}
/*******alterMsg信息弹出窗样式——end*************/