<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用的开放接口使用示例</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="css/element-ui-1.2.4.css" rel="stylesheet"/>
    <link href="css/jsonp.css" rel="stylesheet"/>
</head>
<div id="app">
    <div class="nav-box el-menu--dark">
        <div class="nav-content">
            <el-menu theme="dark" :default-active="'4'" class="el-menu-demo" mode="horizontal">
                <el-menu-item index="1"><a href="../demo.html" >首页</a></el-menu-item>
                <el-menu-item index="2"><a href="../resume/demo.html" >关于</a></el-menu-item>
                <el-menu-item index="3"><a href="../gallery/gallery.html" target="_blank">相册</a></el-menu-item>
                <el-menu-item index="4"><a href="#" >开放接口</a></el-menu-item>
                <el-menu-item index="5"><a href="index.html" >vue案例</a></el-menu-item>
            </el-menu>
        </div>
    </div>
    <div class="body-content">
        <el-form :inline="true" :model="ruleForm" class="demo-form-inline"  ref="ruleForm">
            <el-form-item label="接口选择：" prop="table">
                <el-select v-model="ruleForm.table" placeholder="请选择">
                    <el-option
                            v-for="item in ruleForm.options"
                            :label="item.title"
                            :value="item">
                    </el-option>
                </el-select>
            </el-form-item>
        </el-form>
        <el-table
                :data="[ruleForm.table]"
                border
                style="width: 100%;margin-bottom: 15px">
            <el-table-column
                    prop="title"
                    label="接口名称"
            >
            </el-table-column>
            <el-table-column
                    prop="url"
                    label="接口地址">
            </el-table-column>
        </el-table>
        <el-table
                :data="ruleForm.table.data"
                border
                style="width: 100%;margin-bottom: 15px">
            <el-table-column
                    prop="title"
                    label="名称"
            >
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="key"
            >
            </el-table-column>
            <el-table-column
                    prop="value"
                    label="默认值">
            </el-table-column>
            <el-table-column
                    prop="desc"
                    label="备注">
            </el-table-column>
        </el-table>
        <el-form :model="ruleForm1"   class="demo-ruleForm" >
            <el-form-item
                    v-for="(item, index) in ruleForm.table.data"
                    :label="item.title"
                    :key="item.name"
                    :prop="item.name"
            >
                <el-input type="text" v-model="ruleForm1[item.name]" v-bind:name="item.name"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm">提交</el-button>
            </el-form-item>
        </el-form>
        <pre v-html="res" class="api-json prettyprint linenums"></pre>
    </div>
</div>
<body>
<script src="js/vue.min.2.2.0.js" type="text/javascript"></script>
<script src="js/vue-resource.js" type="text/javascript"></script>
<script src="js/element-ui-1.2.4.js" type="text/javascript"></script>
<script src="js/prism.js" type="text/javascript"></script>
<script src="js/jsonp.js" type="text/javascript"></script>
</body>
</html>